.navbar{
    background-color: #6c31ff;

}

.dropdown-menu a{
   font-size: 30px;

}

/*==================================generic==================================*/

  .modal {
      position: fixed;
      display: none;
      width: 100%;
      height: 100%;
      background-color: transparent;
      z-index: 5;
  }

  select {
      width: 170px;
      margin: 10px;
      padding: 3px;
  }

  .modal input {
      margin: 10px;
      padding: 3px;
      width: 160px;
  }

  .closeButton {
      text-align: right;
      padding-bottom: 30px;
      font-size: 22px;
      left: 22px;
  }


  /*==================================Feature==================================*/

  .featureModalContent {
      display: block;
      text-align: center;
      position: fixed;
      background-color: #222222;
      width: 198px;
      height: 100%;
      font-family: Verdana;
      color: #fff;
  }


  /*==================================Association==================================*/

  .associationModalContent {
      display: block;
      text-align: center;
      position: fixed;
      background-color: #222222;
      width: 198px;
      height: 100%;
      font-family: Verdana;
      color: #fff;
  }


  /*==================================File==================================*/

  .loadFileModalContent {
      display: block;
      text-align: center;
      position: fixed;
      background-color: #104581;
      width: 100%;
      height: 130px;
      font-family: Verdana;
      color: #fff;
  }

  .loadFileModalContent input{
      width: auto;
      border-style: solid;
  }

  .loadFileModalContent .closeButton {

      top: 0;
      text-align: right;
      padding-bottom: 0px;
  }

  body div.mxPopupMenu {
    -webkit-box-shadow: 3px 3px 6px #C0C0C0;
    -moz-box-shadow: 3px 3px 6px #C0C0C0;
    box-shadow: 3px 3px 6px #C0C0C0;
    background: white;
    position: absolute;
    border: 3px solid #e7e7e7;
    padding: 3px;
  }

  body table.mxPopupMenu {
    border-collapse: collapse;
    margin: 0px;
  }

  body tr.mxPopupMenuItem {
    color: black;
    cursor: default;
  }

  body td.mxPopupMenuItem {
    padding: 6px 60px 6px 30px;
    font-family: Arial;
    font-size: 10pt;
  }

  body td.mxPopupMenuIcon {
    background-color: white;
    padding: 0px;
  }

  body tr.mxPopupMenuItemHover {
    background-color: #eeeeee;
    color: black;
  }

  table.mxPopupMenu hr {
    border-top: solid 1px #cccccc;
  }

  table.mxPopupMenu tr {
    font-size: 4pt;
  }

  /*==================================generic==================================*/

  body {
      margin: 0;
      background-color: #F1F1F1;
  }

  a {
      color: #fff;
      padding: 15px;
      text-decoration: none;
  }


  /*==================================top Bar==================================*/

  .topBar {
      display: inline;
      position: fixed;
      /*overflow: hidden;*/
      background-color: #014e6b;
      width: 100%;
      height: 66px;
      z-index: 3;
      margin: 0;
  }

  .topBarIconGroup {
      float: left;
      list-style:none;
  }



  .topBarIconGroup a {
      font-size: 30px;
      display: inline-block;
      text-align: center;
      vertical-align: middle;
  }

  .topBarIconGroup a:hover {
      background-color: #222222;
  }

  .modelName {
      height: 40px;
      margin-top: 12px;
      margin-left: 0px;
      text-align: center;
      vertical-align: middle;
      border: none;
      background: none;
      color: #FFF;
      font-size: 20px;
      font-weight: bold;
      outline: 0;
      float: left;
  }

  .modelName:focus::-moz-placeholder {
      color: transparent;
  }

  .modelName:focus::-webkit-input-placeholder {
      color: transparent;
  }

  .modelName:focus:-ms-input-placeholder {
      color: transparent;
  }


  /*==================================topBarSmall=====================================*/

  .topBarIconGroupSmall {
      /*position: fixed;*/
      margin-top: 66px;
      display: none;
      float: right;
      background-color: #222222;
      z-index: 3;
  }

  .topBarIconGroupSmall a {
      font-size: 30px;
      display: block;
      text-align: center;
  }

  .topBarIconGroupSmall a:hover {
      background-color: #104581;
  }


  /*==================================side Bar==================================*/

  .sideBar {
      margin: 0;
      position: fixed;
      background-color: #222222;
      width: 66px;
      height: 100%;
      /*overflow: hidden;*/
      z-index: 2;
  }

  .sideBarIconGroup {
      margin-top: 66px;
  }

  .sideBarIconGroup a {
      font-size: 200%;
      display: block;
      text-align: center;
  }

  .sideBarIconGroup a:hover {
      background-color: #104581;
  }


  /*==================================Model Text==================================*/

  #mySavedModel {
      width: 100%;
      height: 400px;
  }

  #myModel {
      width: 100%;
      height: 400px;
  }

  #JsonText {
      display: none;
  }


  /*==================================Model graphic==================================*/

  .canvas {
      position: absolute;
      margin-left: 70px;
      margin-top: 70px;
      background: #fff;

  }

  #graphContainer {
      position:relative;
      overflow:hidden;
      width:1300px;
      height:600px;
      cursor:default;
  }


  /*==================================Tool tips==================================*/

  .tooltip {
      visibility: hidden;
      font-family: Verdana;
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      position: absolute;
      padding: 5px 0;
      width: 200px;
      z-index: 5;
      color: #fff;
  }

  a:hover .tooltip {
      visibility: visible;
      opacity: 0.9;
  }


  /*==================================Tool tips TopBar==================================*/

  .topBar a .tooltip {
      background-color: #222222;
      top: 70px;
  }

  .topBar a .tooltip::after {
      content: " ";
      position: absolute;
      bottom: 100%;
      left: 90%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent #222222 transparent;
  }


  /*==================================Tool tips TopBarSmall==================================*/

  .topBarIconGroupSmall a .tooltip {
      background-color: #104581;
      right: 70px;
  }

  .topBarIconGroupSmall a .tooltip::after {
      content: " ";
      position: absolute;
      top: 50%;
      left: 100%;
      margin-top: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent transparent #104581;
  }


  /*==================================Tool tips SideBar==================================*/

  .sideBar a .tooltip {
      background-color: #104581;
      left: 70px;
  }

  .sideBar a .tooltip::after {
      content: " ";
      position: absolute;
      top: 50%;
      right: 100%;
      margin-top: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent #104581 transparent transparent;
  }

