.navbar {
    background-color: #6c31ff;

}

.dropdown-menu a {
    font-size: 30px;

}


/*==================================generic==================================*/

.modal {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 5;
}

select {
    width: 170px;
    margin: 10px;
    padding: 3px;
}

/*.modal input {*/
/*    margin: 10px;*/
/*    padding: 3px;*/
/*    width: 160px;*/
/*}*/

.closeButton {
    text-align: right;
    padding-bottom: 30px;
    font-size: 22px;
    left: 22px;


}

.closeButton .fa-times {
    /*color: red;*/
    /*background: red;*/
    margin-right: 10px;
    margin-top: 3px;
}



/*==================================Feature==================================*/

.featureModalContent {
    margin-top: 122.5px;
    display: block;
    text-align: center;
    position: fixed;
    background-color: #222222;
    width: 200px;
    height: 100%;
    font-family: Verdana;
    color: #fff;
}

.featureModalContent .form-control {
    width: 170px;
    margin: 0 auto;
}

/*==================================Association==================================*/

.associationModalContent {
    display: block;
    margin-top: 122.5px;
    text-align: center;
    position: fixed;
    background-color: #222222;
    width: 200px;
    height: 100%;
    font-family: Verdana;
    color: #fff;
}

.associationModalContent .form-control {
    width: 170px;
    margin: 0 auto;
}

/*==================================Constraint==================================*/

.constrainModalContent{
    margin-top: 400px;
    margin-left: 400px;
    position: fixed;
    background-color: white;
    width: 200px;
    height: 200px;
    display: block;



}





/*==================================File==================================*/

.loadFileModalContent {
    display: block;
    text-align: center;
    position: fixed;
    background-color: #104581;
    width: 100%;
    height: 130px;
    font-family: Verdana;
    color: #fff;
}

.loadFileModalContent input {
    width: auto;
    border-style: solid;
}

.loadFileModalContent .closeButton {

    top: 0;
    text-align: right;
    padding-bottom: 0px;
}

body div.mxPopupMenu {
    -webkit-box-shadow: 3px 3px 6px #C0C0C0;
    -moz-box-shadow: 3px 3px 6px #C0C0C0;
    box-shadow: 3px 3px 6px #C0C0C0;
    background: white;
    position: absolute;
    border: 3px solid #e7e7e7;
    padding: 3px;
}

body table.mxPopupMenu {
    border-collapse: collapse;
    margin: 0px;
}

body tr.mxPopupMenuItem {
    color: black;
    cursor: default;
}

body td.mxPopupMenuItem {
    padding: 6px 60px 6px 30px;
    font-family: Arial;
    font-size: 10pt;
}

body td.mxPopupMenuIcon {
    background-color: white;
    padding: 0px;
}

body tr.mxPopupMenuItemHover {
    background-color: #eeeeee;
    color: black;
}

table.mxPopupMenu hr {
    border-top: solid 1px #cccccc;
}

table.mxPopupMenu tr {
    font-size: 4pt;
}

/*==================================generic==================================*/

body {
    margin: 0;
    background-color: #F1F1F1;
}

a {
    color: #ffffff;
    /*padding: 15px;*/
    text-decoration: none;
}


/*==================================top Bar==================================*/

.topBar {
    display: inline;
    position: fixed;
    /*overflow: hidden;*/
    background-color: #010000;
    width: 100%;
    height: 66px;
    z-index: 3;
    margin-top: 0px;


}

.topBar a {
    padding: 15px;

}

.topBarIconGroup {
    float: left;
    list-style: none;

}

.topBarIconGroup .dropdown-menu a {
    color: #0b2e13;

}

.topBarIconGroup a {
    font-size: 30px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    color: #fefffd;
}

.topBarIconGroup a:hover {
    background-color: #ffffff;
    color: #000000;
    height: 100%;
}

.topBarIconGroup .dropdown-menu a:hover {
    background-color: #d2d2d2;
    color: #000000;
}


.modelName {
    height: 40px;
    margin-top: 12px;
    margin-left: 0px;
    text-align: center;
    vertical-align: middle;
    border: none;
    background: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    outline: 0;
    float: left;

}

.modelName:focus::-moz-placeholder {
    color: transparent;
}

.modelName:focus::-webkit-input-placeholder {
    color: transparent;
}

.modelName:focus:-ms-input-placeholder {
    color: transparent;
}

.iconsTopBar .li {
    display: inline-block;

}

li {
    display: inline;
}

.color {
    color: black;
}


/*==================================topBarSmall=====================================*/

.topBarIconGroupSmall {
    /*position: fixed;*/
    margin-top: 66px;
    display: none;
    float: right;
    background-color: #222222;
    z-index: 3;
}

.topBarIconGroupSmall a {
    font-size: 30px;
    display: block;
    text-align: center;
}

.topBarIconGroupSmall a:hover {
    background-color: #104581;
}


/*==================================side Bar==================================*/

/*.sideBar {*/
/*    margin: 0;*/
/*    position: fixed;*/
/*    background-color: #222222;*/
/*    width: 66px;*/
/*    height: 100%;*/
/*    !*overflow: hidden;*!*/
/*    z-index: 2;*/
/*}*/

.sideBarIconGroup {
    margin-top: 66px;
}

.sideBarIconGroup a {
    font-size: 200%;
    display: block;
    text-align: center;
}

.sideBarIconGroup a:hover {
    background-color: #104581;
}


/*==================================Model Text==================================*/

#mySavedModel {
    width: 100%;
    height: 400px;
}

#myModel {
    width: 100%;
    height: 400px;
}

#JsonText {
    display: none;
}


/*==================================Model graphic==================================*/

.canvas {
    position: absolute;
    margin-left: 70px;
    margin-top: 70px;
    background: #fff;
    z-index: 1;
    opacity: .9;
}

#graphContainer {
    position: relative;
    overflow: hidden;
    width: 1300px;
    height: 600px;
    cursor: default;

}


/*==================================Tool tips==================================*/

.tooltip {
    visibility: hidden;
    font-family: Verdana;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    padding: 5px 0;
    width: 200px;
    z-index: 5;
    color: #fff;
}

a:hover .tooltip {
    visibility: visible;
    opacity: 0.9;
}


/*==================================Tool tips TopBar==================================*/

.topBar a .tooltip {
    background-color: #222222;
    top: 70px;
}

.topBar a .tooltip::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 10%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #222222 transparent;
}


/*==================================Tool tips TopBarSmall==================================*/

.topBarIconGroupSmall a .tooltip {
    background-color: #104581;
    right: 70px;
}

.topBarIconGroupSmall a .tooltip::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #104581;
}


/*==================================Tool tips SideBar==================================*/

.sideBar a .tooltip {
    background-color: #104581;
    left: 10px;

}

.sideBar a .tooltip::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: -5px;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #251f81 transparent transparent;
}


/*==========================================================================*/

.register {
    background-color: rgb(255, 255, 255, 0.9);
    height: 550px;
    margin-left: 200px;
    margin-right: 200px;

}

/*===============  Form Register  ===================*/

.register {
    background-color: rgb(255, 255, 255, 0.9);
    height: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
}

.register .formRegister{
    /*margin: 0 auto;*/
    margin-left: 200px;
}

.formRegister #registerInputName {
    width: 350px;
}

.formRegister #registerInputArea {
    width: 150px    ;
}

.formRegister #registerInputArea {
    width: 300px;
}

.formRegister #registerInputEmail {
    width: 350px;
}

.formRegister #registerInputPassword {
    width: 200px;
}

.register .btn{
    margin-left: 200px;
}



