<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Atlas</title>

    <!--imports the css, icons and fonts-->

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css"
          integrity="sha384-v2Tw72dyUXeU3y4aM2Y0tBJQkGfplr39mxZqlTBDUZAb9BGoC40+rdFCG0m10lXk"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/fontawesome.css"
          integrity="sha384-q3jl8XQu1OpdLgGFvNRnPdj5VIlCvgsDQTQB6owSOHWlAurxul7f+JpUOVdAiJ5P"
          crossorigin="anonymous">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../css/myStyle.css">

    <!--defines a global variable-->
    <script type="text/javascript">
        mxBasePath = '../controller/mxgraph';
    </script>

    <!--gps specifics imports-->
    <script src="../controller/js/gp/LoadXml.js"></script>
    <script src="../controller/js/gp/ValidationScript.js"></script>
    <script src="../controller/js/gp/Feature.js"></script>
    <script src="../controller/js/gp/Graph.js"></script>
    <script src="../controller/js/gp/Association.js"></script>
    <script src="../controller/js/gp/CreateFeature.js"></script>
    <script src="../controller/js/gp/AlternativeAssociation.js"></script>
    <script src="../controller/js/gp/ChangeType.js"></script>

    <!--general imports-->
    <script src="../controller/js/FunctionBezierCurve.js"></script>
    <script src="../controller/js/Modal.js"></script>
    <script src="../controller/js/AdjustCanvas.js"></script>
    <script src="../controller/js/Download.js"></script>
    <script src="../controller/js/SavePng.js"></script>
    <script src="../controller/js/FunctionsCanvas.js"></script>

    <!--mxgraphs specifics imports-->
    <script src="../controller/mxgraph/mxClient.js"></script>

</head>

<body onload="main(document.getElementById('graphContainer'))">

<!--NavBar-->
<div  id="topBarIconGroup">
    <nav class="navbar navbar-expand-lg ">
        <a class="navbar-brand" href="#">Navbar</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
<!--                    <span class="glyphicon glyphicon-remove" id="dropDownFunctions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></span>-->

                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-list"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">


                        <a class="dropdown-item" href="#"><i class="fa fa-list"></i></a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something </a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</div>


<!--&lt;!&ndash;Side Bar&ndash;&gt;-->
<!--<div class="sideBar">-->
<!--    <div class="sideBarIconGroup">-->
<!--        <a onclick="showPopUp(modalFeature);" href="javascript:void(0);">-->
<!--            <span class="tooltip">Create Feature</span>-->
<!--            <i class="fas fa-plus-square"></i></a>-->
<!--        <a onclick="showPopUp(modalAssociation);" href="javascript:void(0);">-->
<!--            <span class="tooltip">Create Association</span>-->
<!--            <i class="fas fa-arrows-alt-v"></i></a>-->
<!--        <a onclick="validateModel()" href="javascript:void(0);">-->
<!--            <span class="tooltip">Check Model</span>-->
<!--            <i class="fa fa-check"></i></a>-->

<!--    </div>-->
<!--</div>-->


<!--&lt;!&ndash;Create Feature Modal&ndash;&gt;-->
<!--<div class="modal" id="modalFeature">-->
<!--    <div id="featureModalContent" class="featureModalContent">-->
<!--        <div class="closeButton">-->
<!--            <a onclick="closePopUp(modalFeature);" href="javascript:void(0);"><i class="fa fa-times"></i></a>-->
<!--        </div>-->
<!--        <label><b>Feature Name</b></label>-->
<!--        <input id="featureName2" type="text" name="Fname" value="">-->
<!--        <label><b>Feature type</b></label>-->
<!--        <select id="featureType2">-->
<!--            <option value="mandatory">Mandatory</option>-->
<!--            <option value="optional">Optional</option>-->
<!--            <option value="alternative">Alternative</option>-->
<!--        </select>-->
<!--        <button id="createFeatureSubmitButton" onclick="createFeature(featureName2.value,featureType2.value)"-->
<!--                type="submit">Create-->
<!--        </button>-->
<!--    </div>-->
<!--</div>-->

<!--&lt;!&ndash;Create Association Modal&ndash;&gt;-->
<!--<div class="modal" id="modalAssociation">-->
<!--    <div id="associationModalContent" class="associationModalContent">-->
<!--        <div class="closeButton">-->
<!--            <a onclick="closePopUp(modalAssociation);" href="javascript:void(0);"><i class="fa fa-times"></i></a>-->
<!--        </div>-->
<!--        <label><b>Parent Feature</b></label>-->
<!--        <select id="feature1id2" onchange="grafo.setSelectBoxChild()"></select>-->
<!--        <label><b>Child Feature</b></label>-->
<!--        <select id="feature2id2"></select>-->
<!--        <button id="createAssociationSubmitButton"-->
<!--                onclick="grafo.createAssociation(feature1id2.value,feature2id2.value)"-->
<!--                type="submit">Create-->
<!--        </button>-->
<!--    </div>-->
<!--</div>-->

<!--Canvas-->
<div class="canvas" id="canvas">
    <div id="graphContainer">

    </div>


</div>

</body>

</html>